---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="site-header">
  <nav>
<div>
<a href="/" class="site-title">
<img src="https://christals-site.vercel.app/logo_200x200.png" alt="Christal Caton Logo" style="width:40px;height:40px;"/>
</a>

</div>
    <div class="main-menu">
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
  </nav>
</header>
